*.class
/out
out/production/java-learning/poo/encapsulamento/ENCAPSULAMENTO.md
out/production/java-learning/poo/encapsulamento/ENCAPSULAMENTO.md
out/production/java-learning/poo/classesabstratas/dominio/Gerente.class
*.class
/out
